/* ===== HTML5 display definitions ===== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* ===== Base ===== */
html { font-size: 62.5%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; }
body, button, input, select, textarea { font-family: sans-serif; }

/* ===== Links ===== */
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

/* ===== Typography ===== */
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold;  }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
mark { background: #ff0; color: #000; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; } q:before, q:after { content: ''; content: none; }
small { font-size: 75%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
/* ===== Lists ===== */
ul, ol { margin-left: 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; }

/* =====   Embedded content   ===== */
img { border: 0; -ms-interpolation-mode: bicubic; }
svg:not(:root) { overflow: hidden; }

/* =====   Figures   ===== */
figure { margin: 0; }

/* =====   Forms   ===== */
form { margin: 0; }
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
legend { border: 0; *margin-left: -7px; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; }

/* =====   Tables   ===== */
table { border-collapse: collapse; border-spacing: 0; }

/* =====   Global box-sizing  ===== */

* {
	-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    		box-sizing: border-box;
}


/* ==== === == = === == ===  ===== === == === = == === ==== */

/* ===== === == = === PRIMARY STYLES === = == === ===== */

/* ===== Layout ===== */
html {
}

body {
	background:		 	#39131E;
	color:				rgb(57, 19, 30);
	font-size: 			1.6em;
	line-height: 		1.2;
	margin: 			0 auto;
	overflow: 			hidden;
	padding: 			0;
	width: 				98%;
/*	max-width:		78.75em;	*/
}

/* ===== Typography ===== */  

h1, h2, h3, h4, h5, h6 { 
	font-family: 'Limelight', cursive; 
	margin-bottom: 0.5em;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3); 
	
}

h1 {
	margin: 0;
	font-size: 2em; 
	letter-spacing: 0.1em;
	text-align: center;
	text-transform: uppercase;
}	

h2 {	
	font-size: 1.3em;
	text-align: center;
}

p { 
	font-size:		1em;
	margin: 		0 0 2% 0;
	line-height: 	1.5em;
}	

/* ===== Navigation ===== */

/* ===== Forms ===== */

input[type=text], input[type=tel], input[type=email], input[type=number], select { 
	border-radius: 3px;
	line-height: 1.2;
	padding: 1%;
	width: 100%;
}

input[type=text]:focus, input[type=tel]:focus, input[type=email]:focus, input[type=number]:focus, select:focus {
	outline: none;
} 

input[type=submit] {
	background-color: rgb(114, 145, 82);
	border: 1px solid #333;
	border-radius: 3px;
	cursor: pointer;
	float: right;
	font-family: 'Limelight', cursive; 
	margin-top: 3%;
	padding: 2% 3%;
	text-shadow: 0 1px 1px rgb(79, 196, 148);
	margin-bottom: 3%;
	margin-left: 3%;
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		 -o-transition: all .1s ease-in-out;
		    transition: all .1s ease-in-out;
}

input[type=submit]:hover {
	box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);
}
label{ display: block; padding: 3% 0 1.5% 0; }
/* ===== Figures & Images ===== */

img, a img { max-width: 100%; }

figure { }

figcaption { }

/* ===== Page Specific Elements ===== */

.calc {
	margin: 0;
	padding: 1% 2%;

}

.function-pane {
	background-color: rgb(79, 196, 148);
	background-color: rgba(79 ,196 ,148, 1);
	overflow: auto;
}

.results-pane {
	background-color: rgb(133, 103, 54);
	overflow-y: auto;
	padding: 1%;
	width: 100%;
}

#code-results {
	background: #f5f5f5 url('../images/bg.jpg') no-repeat left top;
	border-radius: 3px;
}
footer {
	margin-top: 2%;
	padding: 2%;
	border-top: 1px solid #333;
	clear: both;
}

footer a {
	text-decoration: none;
	color: #111;
}

footer a:hover {
	text-decoration: underline;
}

#code-results p {
	font-family: courier;
	font-size: 0.875em;
	margin-bottom: 1%;
	padding: 1%;
}

#boxsizingcss p {
	margin:  0;
	padding: 0 1%;
}

section {
	width: 90%;
}

p#code-results {
    color: #111;
    font-family: Courier;
    font-size: 12px;
    display: block;
    padding-left: 10px;
    margin-top: 10px;
}
p#code-results span {
    display: block; padding-left: 20px;
}​

/* ===== === == = === MEDIA QUERIES === = == === ===== */

/* ===== == = === 20em (320px) === = == ===== */

@media only screen and (min-width : 20em) {

    /* ===== Layout ===== */

    /* ===== Typography ===== */

    /* ===== Navigation ===== */

    /* ===== Forms ===== */

    /* ===== Figures & Images ===== */

    /* ===== Page Specific Elements ===== */

}


/* ===== == = === 30em (480px) === = == ===== */

@media only screen and (min-width : 30em) {

    /* ===== Layout ===== */

    /* ===== Typography ===== */

    /* ===== Navigation ===== */

    /* ===== Forms ===== */

    /* ===== Figures & Images ===== */

    /* ===== Page Specific Elements ===== */

}


/* ===== == = === 37.5em (600px) === = == ===== */

@media only screen and (min-width: 37.5em) {

    /* ===== Layout ===== */

    /* ===== Typography ===== */

    /* ===== Navigation ===== */

    /* ===== Forms ===== */

    /* ===== Figures & Images ===== */

    /* ===== Page Specific Elements ===== */

}


/* ===== == = === 48em (768px) === = == ===== */

@media only screen and (min-width : 48em) {

html {
	height: 100%;
}

body {
	height: 100%;
	width: 98%;
	
}

.calc {
	display: inline-block;
	float: left;
	height: 100%;
}

.function-pane { 
	border-right: 5px solid #39131E;	
	width: 40%; 
}

.results-pane { 
	position: relative;
	width: 60%; 
}

label, input[type=text], input[type=tel], input[type=email], input[type=number] {
	display: inline-block;
}

label {
	width: 15%;
}

input[type=text], input[type=tel], input[type=email], input[type=number] {
	width: 80%;
	float: right;
}


#boxcheckbox, #boxsizing {
	display: inline-block;
	margin-bottom: 4%;
	width: 27%;
}
#boxcheckbox {
	margin-right: 3%;
	width: 55%;
}

}


/* ===== == = === 56.25em (900px) === = == ===== */

@media only screen and (min-width : 56.25em) {

h1 {
	font-size: 2.4em;
}

h2 {	
	font-size: 1.5em;
}
} 

/* ===== == = === 68.75em (1100px) === = == ===== */

@media only screen and (min-device-width : 68.75em) {

    /* ===== Layout ===== */

    /* ===== Typography ===== */

    /* ===== Navigation ===== */

    /* ===== Forms ===== */

    /* ===== Figures & Images ===== */

    /* ===== Page Specific Elements ===== */

}


/* ===== == = === 81.25em (1300px) === = == ===== */

@media only screen and (min-device-width : 81.25em) {
	
    /* ===== Layout ===== */

    /* ===== Typography ===== */

    /* ===== Navigation ===== */

    /* ===== Forms ===== */

    /* ===== Figures & Images ===== */

    /* ===== Page Specific Elements ===== */

}


/* ===== === ==  Non-semantic helper classes  == === ===== */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* ===== Print styles ===== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}