// Just drop this in if you feel like having box-sizing: border-box.
@mixin border-box {
  * { 
       -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

// RWDcalc function converts unitless values to a % of context.
@function rwdcalc($values: 0, $context: 960px) {
  @if unit($context) == px {
    $context: $context / 1px;
  }
  
  // start with an empty list of values.
  $list: ();
  
  // loop through all possible values in the string (margin, padding and so on can be lists)
  @each $value in $values {
    
    // If the value has no unit, consider it a px-% converstion
    @if unit($value) == "" {
      $list: append($list, percentage($value / $context), space);
    }
    
    // Else pass the value back to the list unchanged.
    @else {
      $list: append($list, $value);
    }
  }
  
  // return the list with unitless values converted.
  @return $list;
}

@mixin rwdcalc($target: 0, $context: 960px, $margin: false, $padding: false, $border: false) {
  @if unit($context) == px {
    $context: $context / 1px;
  }
  @if unit($target) == px {
    $target: $target / 1px;
  }
  
  // Width is a straight converstion of target/context.
  width: rwdcalc($target, $context);

  // Margin, padding, and border get converted to % if they are passed in as a unitless value.
  @if $margin != false {
    // just pull in the rwdcalc function for these.
    margin: rwdcalc($margin, $target);
  }
  @if $padding != false {
    padding: rwdcalc($padding, $target);
  }
  @if $border != false {
    @if type-of($border) == list {
      // Transparent border so metrics get written by default.
      border: 0 solid transparent;
      // Write width overrides:
      border-width: rwdcalc($border, $target);
    }
    @else {
      border: rwdcalc($border, $target) solid transparent;
    }
  }
}
