/* line 3, ../../stylesheets/_rwdcalc.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 5, ../sass/example.scss */
.foo {
  width: 20.83333%;
}

/* line 9, ../sass/example.scss */
.bar {
  width: 13.54167%;
  margin: 1.53846%;
  padding: 2.30769%;
  border: 3.07692% solid transparent;
}

/* line 13, ../sass/example.scss */
.baz {
  width: 9.6875%;
  margin: 1em 32.25806%;
  border: 0 solid transparent;
  border-width: 4.30108% 2px 4% 1.3em;
}

/* line 17, ../sass/example.scss */
.foo {
  width: 20.83333%;
  padding: 1em 5% 23px 5%;
}
